.container{
    margin-top: 20px;
    box-shadow: 0px 4px 8px black;
    border-radius: 8px;
    padding: 8px 10px;
    width: 50vw;
    margin-left: 30%;
}
.btn{
    background-color: aquamarine;
    border-radius: 5px;
    color: green;
}